*.pyc
*.ipynb
*.json
Load_Data/snapdeal.json
Load_Data/local_data_extraction.py
Models/*.npy
Models/SubModels/*.npy
Models/*
.idea/*
cataloguing_ui/__pycache__/*
cataloguing_ui/.idea/*
cataloguing_ui/config.py
*.css~
*.py~
cataloguing_ui/flask_oauth2_login/__pycache__/*
