*.pyc
*.ipynb
*.json
.idea/*
cataloguing_ui/__pycache__/*
cataloguing_ui/.idea/*
cataloguing_ui/config.py
*.css~
*.py~
cataloguing_ui/flask_oauth2_login/__pycache__/*
data/Models/*
*.bz2
settings.py
testing/output.csv

