*.pyc
*.ipynb
*.json
Load_Data/snapdeal.json
Load_Data/local_data_extraction.py
.idea/*
cataloguing_ui/__pycache__/*
cataloguing_ui/.idea/*
cataloguing_ui/config.py
*.css~
*.py~
cataloguing_ui/flask_oauth2_login/__pycache__/*
Models/*
Models/SubModels/*
*.bz2
settings.py
