{% extends "base_tagging.html" %}

{% block content %}

<li>Please select a category and then enter the name of desired sub-category in the text-box.</li>
<p></p>
{%if msg%}
    {{msg}}
{%endif%}
<form method="post" action="">
    <select name="category" >
        <option value='-1'>----------- Select Category -----------</option>
        {% for cat in available_cats %}
            <option value='{{cat._id}}'>{{cat.category_name}}</option>
        {% endfor %}
    </select>
    <input type="text" name="subcat" size="30"></input>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>

{% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
    {% for message in messages %}
        <script>$.notify("Access denied. Please login as Admin.", {clickToHide: true});</script>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}