{% extends "base_tagging.html" %}

{% block side_block %}
    <li><a href="{{ url_for('bp.tag_it_vendor') }}">Tag By Vendor</a></li>
    <li><a href="{{ url_for('bp.tag_it_category') }}">Tag by Category</a></li>
{% endblock %}

{% block content %}

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Tag Count</th>
			<th>User Id</th>
			<th>E-Mail</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr>
				<td>{{user.name}}</td>
				<td>{{user.tags}}</td>
				<td>{{user.id}}</td>
				<td>{{user.email}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}