{% extends "base_tagging.html" %}

{% block head %}
    <script src="{{ url_for('bp.static', filename='js/taggify.js') }}"></script>
    <script src="{{ url_for('bp.static', filename='js/taggify_utils.js') }}"></script>
{% endblock %}

{% block content %}
  {% if tag_by == 'vendor' %}
        {% include 'tag_vendor.html' %}
  {% endif %}
  {% if tag_by == 'category' %}
        {% include 'tag_category.html' %}
  {% endif %}

<div id="tag-products" style="display:none">
  <h4>Product details :</h4>
  <table class="table table-bordered table-hover">
      <tbody>
          <tr><td>Product Name</td><td><span id='org_prod_name'></span></td></tr>
          <tr><td>Vendor</td><td><a href="#" target="_blank" id='vendor_name'></a></td></tr>
          <tr><td>Category Identified</td><td><span id='category'></span></td></tr>
          <tr><td>Sub-Category Identified</td><td><span id='sub-category'></span></td></tr>
      </tbody>
  </table>

  Update category:
  <select id="update-category">
      <option value='-1'>----------- Select Category -----------</option>
      {% for cat in available_cats %}
        <option value='{{cat._id}}'>{{cat.category_name}}</option>
      {% endfor %}
  </select>
  <select id="update-subcategory" disabled></select>
  <input type="submit" class="btn btn-primary" value="Update Category" id="update-button">

  <div id='tag_template' style="display:none">
  <div class='tag_list'>
      <table>
          <tr>
          <td class="tag_holder">
            <a href='#' tagtype = "B1" tabindex='100'><span class="tag_text">Brand</span></a>
            <a href='#' tagtype = "P1" tabindex='101'><span class="tag_text">Price</span></a>
            <a href='#' tagtype = "W1" tabindex='102'><span class="tag_text">Weight</span></a>
            <a href='#' tagtype = "C1" tabindex='103'><span class="tag_text">Color</span></a>
            <a href='#' tagtype = "D1" tabindex='104'><span class="tag_text">Dimensions</span></a>
            <a href='#' tagtype = "V1" tabindex='105'><span class="tag_text">Volume/Quantity</span></a>
            <a href='#' tagtype = "P2" tabindex='106'><span class="tag_text">Product Name</span></a>
            <a href='#' tagtype = "M1" tabindex='107'><span class="tag_text">Model Name</span></a>
            <a href='#' tagtype = "M2" tabindex='108'><span class="tag_text">Model No.</span></a>
            <a href='#' tagtype = "S1" tabindex='109'><span class="tag_text">Style No.</span></a>
            <a href='#' tagtype = "O1" tabindex='110'><span class="tag_text">Others</span></a>
          </td>
          <td class="tag_holder extra-attrs">
            <!--<a href='#' tagtype = "M2"><span class="tag_text">Memory</span></a>-->
          </td>
          </tr>
      </table>
  </div>
  </div>
  <span class="address" id="selectable"></span><br>
  <input type="checkbox" id="dangerous-goods" value="dangerous_goods">Dangerous Goods?
  <input type="checkbox" id="x-ray" value="x_ray">X-Ray?
  <input type="checkbox" id="dirty-name" value="dirty_name">Dirty Product Name?
  <div class="buttons">
    <input type="submit" class="btn btn-primary" value="Submit" id="submit-button">
    <input type="submit" class="btn btn-primary" value="Clear" id="clear-button">
    <input type="button" class="btn btn-primary" value="Skip this product" id="skip-button">
  </div>
</div>
{% endblock %}