{% extends "base_tagging.html" %}

{% block content %}
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Fixed Attributes</th>
        <th>Dynamic Attributes</th>
      </tr>
    <tbody>
      <tr>
      <td>
        O1 -<br>
        Others<br>
        (When no attribute matches)<br>
        <br>
        P1 - <br>
        Price<br>
        (When product name contains price)<br>
        <br>
        P2 -<br>
        Product Type<br>
        (Eg. Mousepad, Screengaurd, Shirt, etc.)<br>
      </td>
      <td>
        {% for code_attr in tags %}
            {{code_attr[0]}} - {{code_attr[1]}}<br>
        {% endfor %}
      </td>
      </tr>
      </tbody>
    </table>
{% endblock %}