{% extends "base_tagging.html" %}

{% block head %}
  <script src="{{ url_for('bp.static', filename='js/verify.js') }}"></script>
  <script>
  $(document).ready(function () {
      $(function () {
        $("input[type=submit], button").button()
                .click(function (event) {
                    event.preventDefault();
                });
    });

    $("#vendor-button1").click(function () {
      vendor = $("#select-vendor").find(":selected").val();
      if (vendor == '-1')
          $("#select-vendor").notify("Please select a Vendor first.", "error");
      else {
          $.ajax({
              url: '/cat-ui/get-vendor-products-verify',
              dataType: 'json',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({ "vendor": vendor}),
              success: function (data) {
                  console.log('data received : ', data);
                  if (data['error'])
                      $("#select-vendor").notify(data['error']);
                  else {
                      update_values(data)
                      id = data['id'];
                      prod_seg = JSON.parse(data['prod_seg']);
                      data_obj = {'vendor': vendor};
                      $('.address').taggify(id, prod_seg, data_obj, data['tags']);

                  }
              }
          })
      }
    });

  $(function() {
    $( "#category-button1" ).click(function() {
        var cat = $("#select-category").find(":selected").text();
        var cat_id = $("#select-category").find(":selected").val();
        if(cat_id=='-1')
            $("#select-category").notify('Please select a category first.');
        else {
            $.ajax({
                url: '/cat-ui/get-category-products-verify',
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({"category": cat}),
                success: function (data) {
                    console.log(data);
                    if (data['error'])
                        $("#select-category").notify(data['error']);
                    else {
                        update_values(data)
                        id = data['id'];
                        prod_seg = JSON.parse(data['prod_seg']);
                        data_obj = {'category': data['prod_cat']};
                        $('.address').taggify(id, prod_seg, data_obj, data['tags']);
                    }
                }
            });
        }
    });
  });
  });  
  </script>
{% endblock %}

{% block side_block %}
    <li><a href="{{ url_for('bp.vendor_verify') }}">Tag By Vendor</a></li>
    <li><a href="{{ url_for('bp.category_verify') }}">Tag by Category</a></li>
{% endblock %}

{% block content %}
  {% if tag_by == 'vendor' %}
        <select id="select-vendor">
          <option value="-1">------- Select Vendor -------</option>
          {% for vendor in vendors %}
            <option value={{vendor}}>{{vendor}}</option>
          {% endfor %}
          <option value="All">--- All Vendors ---</option>
        </select>
        <input type="submit" class="btn btn-primary" value="Get Products" id="vendor-button1">
  {% endif %}
  {% if tag_by == 'category' %}
        <select id="select-category">
          <option value='-1'>----------- Select Category -----------</option>
          {% for cat in available_cats1 %}
            <option value='{{cat._id}}'>{{cat.category_name}}</option>
          {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary" value="Get Products" id="category-button1">
  {% endif %}

<div id="tag-products" style="display:none">
  <h4>Product details :</h4>
  <table class="table table-bordered table-hover">
      <tbody>
          <tr><td>Product Name</td><td><span id='org_prod_name'></span></td></tr>
          <tr><td>Vendor</td><td><a href="#" target="_blank" id='vendor_name'></a></td></tr>
          <tr><td>Category Identified</td><td><span id='category'></span></td></tr>
          <tr><td>Sub-Category Identified</td><td><span id='sub-category'></span></td></tr>
      </tbody>
  </table>

  Update category:
  <select id="update-category">
      <option value='-1'>----------- Select Category -----------</option>
      {% for cat in available_cats %}
        <option value='{{cat._id}}'>{{cat.category_name}}</option>
      {% endfor %}
  </select>
  <select id="update-subcategory" disabled></select>
  <input type="submit" class="btn btn-primary" value="Update Category" id="update-button">

  <div id='tag_template' style="display:none">
  <div class='tag_list'>
      <table>
          <tr>
          <td class="tag_holder">
            <a href='#' tagtype = "B1" tabindex='100'><span class="tag_text">Brand</span></a>
            <a href='#' tagtype = "P1" tabindex='101'><span class="tag_text">Price</span></a>
            <a href='#' tagtype = "W1" tabindex='102'><span class="tag_text">Weight</span></a>
            <a href='#' tagtype = "C1" tabindex='103'><span class="tag_text">Color</span></a>
            <a href='#' tagtype = "D1" tabindex='104'><span class="tag_text">Dimensions</span></a>
            <a href='#' tagtype = "V1" tabindex='105'><span class="tag_text">Volume/Quantity</span></a>
            <a href='#' tagtype = "P2" tabindex='106'><span class="tag_text">Product Name</span></a>
            <a href='#' tagtype = "M1" tabindex='107'><span class="tag_text">Model Name</span></a>
            <a href='#' tagtype = "M2" tabindex='108'><span class="tag_text">Model No.</span></a>
            <a href='#' tagtype = "S1" tabindex='109'><span class="tag_text">Style No.</span></a>
            <a href='#' tagtype = "O1" tabindex='110'><span class="tag_text">Others</span></a>
          </td>
          <td class="tag_holder extra-attrs">
            <!--<a href='#' tagtype = "M2"><span class="tag_text">Memory</span></a>-->
          </td>
          </tr>
      </table>
  </div>
  </div>
  <span class="address" id="selectable"></span><br>
  <input type="checkbox" id="dangerous-goods" value="dangerous_goods">Dangerous Goods?
  <input type="checkbox" id="x-ray" value="x_ray">X-Ray?
  <input type="checkbox" id="dirty-name" value="dirty_name">Dirty Product Name?
  <div class="buttons">
    <input type="submit" class="btn btn-primary" value="Verify" id="submit-button">
    <input type="submit" class="btn btn-primary" value="Clear" id="clear-button">
    <input type="button" class="btn btn-primary" value="Skip this product" id="skip-button">
  </div>
</div>
{% endblock %}